Howdy, would you please input you information below to have it added to the database.
<br>
<br>

<form method="post" action="outinfo">
	<input type="text" name="firstname"  placeholder="first name" required><br>
	<input type="text" name="lastname"  placeholder="last name" required><br>
	<input type="text" name="address"  placeholder="address" required><br>
	<input type="text" name="city"  placeholder="city" required><br>
	<input type="text" name="state"  placeholder="state" required><br>
	<input type="text" name="zipcode"  placeholder="zip code" required><br>
	<input type="text" name="phonenumber"  placeholder="phone number" required><br>
	<input type="submit" name="enter">
</form>

<br><br>
<br><br>
<br><br>
OR, Looking for info? Search it by the phone number.
<br><br>
<form method="post" action="search">
	<input type="test" name="sphonenumber"  placeholder="search phone number" required><br>
	<input type="submit" name="enter">
</form>