Howdy, would you please input you information below.
<br>
<br>

<form method="post" action="outinfo">
	<input type="test" name="firstname"  placeholder="first name" required><br>
	<input type="test" name="lastname"  placeholder="last name" required><br>
	<input type="test" name="address"  placeholder="address" required><br>
	<input type="test" name="city"  placeholder="city" required><br>
	<input type="test" name="state"  placeholder="state" required><br>
	<input type="test" name="zipcode"  placeholder="zip code" required><br>
	<input type="test" name="phonenumber"  placeholder="phone number" required><br>
	<input type="submit" name="enter">
</form>