<%=message%> 


<form method="post" action="checklog">
	<input type="text" name="username" placeholder="username" minlength="1" maxlength="20">
	<input type="text" name="password" placeholder="password" minlength="1" maxlength="20"><br>
	<input type="submit" name="enter">


</form>